*{
    padding: 0;
    margin: 0;
}
samp{
    font-size: 11px;
}
.bg-main{
    background: #00B207;

}
a, .text-sm{
    font-size: 11px;
}
.bg-black-main{
    background: #333333;
    color: #999999;
    

}