*{
    padding: 0;
    margin: 0;
}
samp{
    font-size: 11px;
}
.bg-main{
    background: #00B207;

}
a, .text-sm{
    font-size: 11px;
}
.bg-black-main{
    background: #333333;
    color: #999999;
    

}
.bing-bannar{
    background-image: url(./IMG/BG-1.jpg);
    background-repeat: no-repeat;
}
.small-bannar-1{
    background-image: url(./IMG/BG-2.png);
    background-repeat: no-repeat;
}
.small-bannar-2{
    background-image: url(./IMG/BG-3.png);
    background-repeat: no-repeat;
}
.bg-orange{
    background-color: #FF8A00;
}
.text-5{
    color: #00B207;
}